/*          navbar           */


body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


#nav{
    justify-content: right;
    background-color: #0802A3;
    display: flex;
    padding: 25px;
    position: relative;
    margin: 0px;
}

#logo{
    position: absolute;
    left: 100px;
    align-content: left;
}

.navopt{
    background-color: #0802A3;
    border: 10px;
    border-radius: 25%;
    padding: 7px, 15px;
    color: White;
    align-items: right;
    padding: 10px 10px 10px 10px;
    margin-left: 35px;
    margin-right: 18px;
    text-decoration: none;
}

.navopt::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #f1f1f1;
    transition: width .3s;
  }

.navopt:hover::after {
    width: 100%;
  }



/*          What We Do          */


.div1{
    position: absolute;
    margin: 0px;
    padding-top: 0px;
    background-color: #EFEFEF;
    height: 820px;
    width: 100%;
}


.milestone{ 
    text-align: center;
    margin-top: 0px;
}

.centeredtext1{
    position: relative;
    top: 30px;
    font-family: sans-serif;
    font-size: 45px;
}

.centeredtext2{
    position: relative;
    top: 8px;
    font-family: sans-serif;
    font-size: 45px;
}

.centerbelowtext{
    position: relative;
    top: 20px;
    font-family: monospace;
    font-size: 25px;
}

/*          Table           */

.overviewtable{
    position: relative;
    top: 30px;
    height: 420px;
    width: 66px;
}

.tabimg{
    height: 210px;
    width: 330px;
}

.tabimg{
    transition: transform 0.3s ease;
}